.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    a {
      font-size: 1.25rem;
      line-height: 1.3;
      padding: 10px 20px;
      color: var(--white);
      display: block;
    }

    &__icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
      padding-left: 50px;
      i {
        color: var(--orange);
        font-size: 1.5rem;
      }
    }
    
  }
}