.main-infos {
  height: 90vh;
  font-family: 'CourierCode';
}

.background-f {
  position: absolute;
  font-size: 40rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $gray;
  user-select: none;
  text-transform: lowercase;
  z-index: -1; 
  animation: fadeIn 5s, 2s anim-lineRigth ease-out;
}

.texto-apresentacao {
  font-size: 7rem;
  text-transform: uppercase;
  color: $white;
  span {
    &:first-child {
      color: $gray-secondary;
    } &:nth-child(2) {
      color: $orange;
    }
  }
  animation: fadeIn 5s, 2s anim-lineUp ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineRigth {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.botao-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $orange;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

