header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: $primary;
}

header, aside{
  z-index: 1000;
}

.menu-site {
  font-size: 16px;
  color: $white;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $orange;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $orange;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before {
  width: 0;
  height: 4px;
  background-color: $orange;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: $orange;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  width: 40px;
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  width: 40px;
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header {
  aside {
    position: fixed;
    bottom: 0;
    left: 0;
    background: $primary;
    width: 100%;
    height: calc(100% - 100px);
    padding: 40px 15px;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      li {
        a {
          color: $white;
          font-size: 5rem;
          text-transform: uppercase;
          font-weight: 200;
          background:
            linear-gradient(to right,
              rgba(244, 244, 244, 1),
              rgba(244, 244, 244, 1)),
            linear-gradient(to right,
              rgba(255, 115, 21, 1),
              rgba(255, 115, 21, 1),
              rgba(255, 115, 21, 1));
          background-size: 100% 3px, 0 3px;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;

          &:hover {
            background-size: 0 3px, 100% 3px;
          }
        }
      }
    }
  }
}

.opened-menu {
  aside {
    transform: translateY(0);
    opacity: 1;
  }
}

.icons {
  transition: .2s ease-in;
  &:hover {
    transform: scale(1.25);
    transition: .2s ease-in;
  }
}