.timeline-infos {
  height: 85vh;
  font-family: "CourierCode";
}

.process-wrapper {
  #progress-bar-container {
    position: relative;
    height: 100px;

    ul {
      position: absolute;
      width: 100%;
    }

    li {
      list-style: none;
      float: left;
      width: 45%;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Poppins";
      cursor: pointer;
      transition: all ease 0.2s;
      vertical-align: bottom;
      height: 60px;
      position: relative;
      &::before {
        content: " ";
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $white;
        transition: all ease 0.3s;
      }

      &.active::before,
      &:hover::before {
        background: $orange;
        border: 2px solid $orange;
      }

      &.active,
      &:hover {
        color: $orange;
      }
    }

    #line {
      width: 100%;
      margin-top: 40px;
      background: $gray;
      height: 6px;
      position: absolute;
      top: 60px;
      transition: all ease 0.9s;
    }
    
    #line-progress {
      content: " ";
      width: 10%;
      height: 100%;
      background: $white;
      position: absolute;
      border-radius: 50px;
      transition: all ease 0.9s;
    }
  }
}


.section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
  h2 {
    color: $orange;
    text-transform: uppercase;
    font-size: 32px;
  }
  p {
    color: $white;
    font-size: 1rem;
  }

  &.active {
    display: block;
  }
}


@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
