@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/fullpage.js/dist/fullpage.min.css';
@font-face {
  font-family: "CourierCode";
  src: url("../assets/fonts/Courier Prime Code.ttf");
}
body {
  background: #040506;
  font-family: "Poppins", sans-serif;
}

.fp-overflow {
  padding: 0;
}

.fp-table {
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

.fp-watermark {
  display: none;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #FF7315;
}

.titulo {
  font-size: 40px;
  text-transform: uppercase;
  color: #F4F4F4;
  font-family: "Poppins";
}
.titulo::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #F4F4F4;
  margin-top: 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #040506;
}

header, aside {
  z-index: 1000;
}

.menu-site {
  font-size: 16px;
  color: #F4F4F4;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FF7315;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #FF7315;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before {
  width: 0;
  height: 4px;
  background-color: #FF7315;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #FF7315;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  width: 40px;
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  width: 40px;
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header aside {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #040506;
  width: 100%;
  height: calc(100% - 100px);
  padding: 40px 15px;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
}
header aside ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
header aside ul li a {
  color: #F4F4F4;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 200;
  background: linear-gradient(to right, rgb(244, 244, 244), rgb(244, 244, 244)), linear-gradient(to right, rgb(255, 115, 21), rgb(255, 115, 21), rgb(255, 115, 21));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
header aside ul li a:hover {
  background-size: 0 3px, 100% 3px;
}

.opened-menu aside {
  transform: translateY(0);
  opacity: 1;
}

.icons {
  transition: 0.2s ease-in;
}
.icons:hover {
  transform: scale(1.25);
  transition: 0.2s ease-in;
}

.main-infos {
  height: 90vh;
  font-family: "CourierCode";
}

.background-f {
  position: absolute;
  font-size: 40rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #363636;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: lowercase;
  z-index: -1;
  animation: fadeIn 5s, 2s anim-lineRigth ease-out;
}

.texto-apresentacao {
  font-size: 7rem;
  text-transform: uppercase;
  color: #F4F4F4;
  animation: fadeIn 5s, 2s anim-lineUp ease-out;
}
.texto-apresentacao span:first-child {
  color: #3A3535;
}
.texto-apresentacao span:nth-child(2) {
  color: #FF7315;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes anim-lineRigth {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.botao-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #FF7315;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.marquee {
  margin-top: -100px;
  width: 100%;
  grid-column-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.marquee-content {
  min-width: 100%;
  grid-column-gap: 1rem;
  flex: none;
  justify-content: space-around;
  display: flex;
}

.text-block {
  color: #F4F4F4;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 8vw;
  font-weight: 200;
  line-height: 1;
  animation: scrolling 30s linear infinite;
}
.text-block span {
  color: #FF7315;
}

@keyframes scrolling {
  0% {
    transform: translateX(-100%);
  }
}
.sobre-infos {
  height: 100vh;
  font-family: "CourierCode";
}

.background-filipe {
  position: absolute;
  font-size: 30rem;
  color: transparent;
  margin-left: -50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #363636;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: lowercase;
  z-index: -1;
}

.img-filipe img {
  width: 100%;
  border-radius: 15px;
}

.text-about {
  color: #F4F4F4;
}
.text-about p {
  font-family: "Poppins";
}

.btn {
  color: #FF7315;
  font-family: "Poppins";
  font-size: 1rem;
  transition: 0.2s ease-in;
}
.btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #FF7315;
  margin-top: 5px;
  transition: 0.2s ease-in;
}
.btn:hover {
  color: #F4F4F4;
  transform: scale(1.25);
  transition: 0.2s ease-in;
}
.btn:hover::after {
  background: #F4F4F4;
  width: 145px;
  transition: 0.2s ease-in;
}

.timeline-infos {
  height: 85vh;
  font-family: "CourierCode";
}

.process-wrapper #progress-bar-container {
  position: relative;
  height: 100px;
}
.process-wrapper #progress-bar-container ul {
  position: absolute;
  width: 100%;
}
.process-wrapper #progress-bar-container li {
  list-style: none;
  float: left;
  width: 45%;
  text-align: center;
  color: #F4F4F4;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Poppins";
  cursor: pointer;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}
.process-wrapper #progress-bar-container li::before {
  content: " ";
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #F4F4F4;
  transition: all ease 0.3s;
}
.process-wrapper #progress-bar-container li.active::before, .process-wrapper #progress-bar-container li:hover::before {
  background: #FF7315;
  border: 2px solid #FF7315;
}
.process-wrapper #progress-bar-container li.active, .process-wrapper #progress-bar-container li:hover {
  color: #FF7315;
}
.process-wrapper #progress-bar-container #line {
  width: 100%;
  margin-top: 40px;
  background: #363636;
  height: 6px;
  position: absolute;
  top: 60px;
  transition: all ease 0.9s;
}
.process-wrapper #progress-bar-container #line-progress {
  content: " ";
  width: 10%;
  height: 100%;
  background: #F4F4F4;
  position: absolute;
  border-radius: 50px;
  transition: all ease 0.9s;
}

.section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}
.section-content h2 {
  color: #FF7315;
  text-transform: uppercase;
  font-size: 32px;
}
.section-content p {
  color: #F4F4F4;
  font-size: 1rem;
}
.section-content.active {
  display: block;
}

@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */